body
{
 direction:rtl;
 text-align:right;
}
.containet
{
  margin: 80px auto;
  width: 420px;
  border: 3px #6750A4 solid;
}
.head
{
  font-size: 22px;
  padding: 15px 0;
  text-align: center;
  background-color: #6750A4;
  color: #fff;
  font-weight: bold;
}
.wrap
{
  margin: 30px 5px;
  padding: 15px;
}
.group
{
    width: 100%;
    position: relative;
    margin-bottom: 50px;


}
input
{
  width: 90%;
  border: transparent;
  display: block;
  border-bottom: 1px black solid;
  padding: 15px;
  padding-left: 10px;
  font-size: 18px;

}
label
{
  position: absolute;
  font-size: 18px;
  top: 20px
}
input:focus ~ label,input:valid ~ label{
    top:-10px;
    font-size: 14px;
    font-weight:bold;
}
input:focus{
    outline: none;
}

.btn
{
  margin-bottom: 10px;
}
button
{
  border: transparent;
  min-width: 48px;
  height: 40px;
  line-height: 40px;
  color:#6750A4;
  padding: 0 16px 0 0 ;
  margin:8px 0 0px 8px;
  display:inline-block;
  font-weight: 500;
  border-radius:2em;
  color:#FFFFFF;
  background-color:#6750A4;
  font-size:18px;
}
button i
{
  color:#FFFFFF;
	font-size:18px;
	padding:0 8px 0 12px;
  vertical-align:middle;
}
button:hover
{
   background-color: rgba(103, 80, 164, .9);
}
