.main-content__images-top-main
{
  width: 100%;
  display: grid;
  grid-gap:10px;
  grid-template-columns: 35% 65%;
  position:

}
.main-content__images-top-main img
{
  border-radius: .5em;
}
.main-content__image-left-main img
{
    width: calc(100% - 10px);
    height: 100%;
}
.main-content__image-right-main img
{
  width: 100%;
  height: calc(50% - 6px);
}
.swiper__title-swiper
{
  margin: 0;
  padding: 8px 16px 8px;
  border-bottom:solid 1.5px #e0e0e0;
  /*border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;*/
}
.swiper .swiper-button-prev {
    top: 260px
}
.swiper .swiper-button-next {
    top: 260px
}
